# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.KafkaManager.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\src\KafkaManager\KafkaManager\.idea\.idea.KafkaManager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
